.coinPicker {
  width: 100%;
  max-width: 600px;
  display: inline-flex;
  .container {
    position: absolute;
    max-height: 20rem;
    overflow: auto;
    max-width: 600px;
    width: 100%;
    border: 1px solid darkgrey;
    //   margin-top: -8px;
  }
  input {
    //   margin-bottom: 0;
  }

  .coin-item {
    background-color: lightgrey;
    &:hover, &.test {
      background-color: darkgrey;
      color: white;
    }
  }
}

.add-entry-amount {
  width: 100%;
  max-width: 600px;
  display: block;
}

.autocomplete-wrapper {
  width: 100%;
  max-width: 600px;
  position: relative;
  .search {
    width:100%;
  }
  .suggestions {
    max-height: 30rem;
    background-color: lightgrey;
    border: 2px solid;
    border-radius: 1%;
    overflow: auto;
    position: absolute;
    width: calc(100% - 4px);
    margin: -0.5rem 0 0 0;
    padding: 0;
    line-height: 1.2rem;
    &:hover {
      li {
        &:hover {
          background-color: darkgrey;
        }
      }
    }
    &:not(:hover) {
      li {
        &.marked {
          background-color: darkgrey;
        }
      }
    }

  }
}