body {
  background-color: lightgray;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: lightgray;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.hp-loader-container {
  width: 100%;
  height: 20rem;
  display: flex;
  position: relative;
  top: 10rem;
  .hp-loader {
    width: 30%;
    margin: 0 auto;
  }
}

.welcome {
  width: 100%;
  height: 20rem;
  display: block;
  position: relative;
  top: 2.5rem;
  text-align: center;
  h1 {
    font-size: 2rem;
  }
  a {
    color: inherit;
  }
  .welcome-login-text {
    font-size: 1.1rem;
  }
  .welcome-buttons {
    a {
      border-radius: 5%;
      border: 2px solid black;
      margin: 1rem;
      padding: 1rem;
      font-size: 2rem;
      width: 8rem;
      display: inline-block;
      background-color: darkgrey;
      &.add-entry {
        width: 10rem;
      }
    }
  }
}
.about{
  width: 100%;
  height: 20rem;
  display: block;
  position: relative;
  top: 2.5rem;
  text-align: center;
  h1 {
    font-size: 2rem;
  }
}
